@import '../../styles/index.scss';

.swipe {
    height: 100%;
}

.slider {
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    height: 240px;
    overflow: hidden;
    white-space: nowrap;

    @include medium {
        height: 800px;
    }

    &__wrapper {
        position: relative;
        height: 100%;
        width: 100%;
    }
}
  
.slide {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 20px;

    @include medium {
        padding: 20px 50px;
    }

    img {
        width: 100%;
    }
}
  
.arrow {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: transform ease-in .1s;
}
  
.nextArrow,
.backArrow  {
    position: absolute;
    top: 50%;
    margin-top: -13px;
    right: 25px;
    color: $colorWhite;
}

.backArrow {
    left: 25px;
    right: auto;
}

.pagination {
    position: absolute;
    width: 100%;
    bottom: 100px;
    display: flex;
    justify-content: center;

    &__item {
        color: $colorBlack;
        margin: 0 5px;
        padding: 5px;
    }
}